@charset "UTF-8";
* {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.main {
  width: 100%;
  height:fit-content;
}

/*HEADER*/

header {
  height: 35vh;
}
.h1 {
  display: block;
  align-content: center;
  text-align: center;
  font-weight: 900;
  font-size: 5vw;
  color: cornsilk;
  background-color: #31303086;
  border-bottom: solid rgba(255, 248, 220, 0.596) 1px;
  border-top: solid rgba(255, 248, 220, 0.596) 1px;
  letter-spacing: 2px; 
}
.subh1 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  font-family: 'Kanit', sans-serif;
  font-weight: 400;
  font-size: 4vw;
  color: cornsilk;
  background-color: #ffc10769 ;
}

.caja {
  height: 13%;
}

.menu-navegacion {
  display: flex;
  justify-content: flex-end;
}

/*imagenes de carousel*/
.slide {
  margin-top: 10px;
}
.slide img{
  height: 65vh;
}

.fontKanit {
  font-family: 'Lato', sans-serif; }

body {
  padding: 0px; }

  
.experienciasFlex {
  margin: 5px;
  display: flex;
  flex-flow: column wrap;
}

.experiencia1y3 {
  display: flex;
  flex-flow: row wrap; }

.flexPadre {
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  background-color: none; }

.flexHijo {
  display: flex;
  height: 50vh;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center; }

.textoIntro {
  position: relative;
  font-family: 'Lato', sans-serif; }

.separador-cursos {
  padding: 5px;
  border-top: solid 1px white ;
}

#botonpromo {
  background-color: rgba(85, 194, 42, 0.623);
  font-family: 'Kanit', sans-serif;
  color: white;
  font-weight: 900px;
  font-size: 40px;
  text-decoration: none;
  text-align: center;
  display: block;
}

#botonpromo:hover {
  color: #41ff07;
  transform: scale(1.05);
}

/*CARROUSEL*/
.carousel-item {
  height: 65vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/*CORRECION DE TAMAÑO PARA IMAGENES EN COMUNIDAD.HTML*/
.tarjeta {
  height: 20vh;
}


/*SEPARADOR DE SECCIONES*/
#separador-secciones {
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 2;
}

#separador-secciones .content {
  width: 120%;
  height: 90px;
  margin-left: -25px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

#fondo-separador {
  background: rgb(61,27,10);
background: linear-gradient(180deg, rgba(61,27,10,1) 0%, rgba(33,37,41,1) 84%);
}

/*SECCION #SERVICIOS EN INDEX.HTML*/

#fondo-servicios {
  background: rgb(33,37,41);
background: linear-gradient(180deg, rgba(33,37,41,1) 0%, rgba(34,21,12,0.8939950980392157) 50%, rgba(33,37,41,1) 100%);
}

/*GRADIENTE DE LOS FOOTERS*/
footer {
  background: rgb(255,193,7);
background: linear-gradient(180deg, rgba(255,193,7,1) 0%, rgba(200,154,16,1) 0%, rgba(33,37,41,1) 9%);
}




/*MEDIA QUERIES*/
   
@media (max-width: 568px) {
  .menu-navegacion {
    display: flex;
    justify-content: center;
  }
}
    